<div class="container">
  <app-content
    titulo="Mensaje"
    pic="/images/leonelnobg.png"
    p1="Al avanzar en la segunda década del siglo XXI, la República Dominicana se encuentra en una encrucijada. Por un lado, resulta evidente el progreso conquistado durante el último cuarto de siglo, como consecuencia de la aceleración del crecimiento económico y de la transformación social experimentados.."
    p2="Esas son necesidades básicas que deben ser satisfechas para el conjunto de la población, a los fines de evolucionar hacia una sociedad próspera, justa y solidaria, que garantice bienestar a todos los integrantes de nuestra sociedad.

Nuestro partido, la Fuerza del Pueblo, se siente comprometido con la adopción y aplicación de medidas que contribuyan a una solución continua y eficiente de esas rémoras del pasado que representan tareas inconclusas de una sociedad industrial ya superada.
No obstante, al mismo tiempo que nuestra sociedad se encuentra sometida a la necesidad de superación de esos factores de subdesarrollo, surgen los retos de una nueva revolución tecnológica que ha ido transformando, de manera radical, los cimientos de nuestra actual civilización."
  ></app-content>
</div>
<section>
    <app-footer></app-footer>
</section>

